NODE_ENV=development
HOST_URL="http://localhost:3333"
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=database
PG_HOST=localhost
PG_PORT=54320
DATABASE_URL="postgresql://admin:admin@localhost:54320/database?schema=public"
PORT=3333
SALT=12
SECRET=supersecretkey
EXPIRY_TIME_SECONDS=3000
MAIL_SERVICE="gmail"
MAIL_USER="mail_user@mail.com"
MAIL_PASS="mail_pass"
FIREBASE_PROJECT_ID="firebase_project_id"
FIREBASE_STORAGE_BUCKET="firebase_private_key"
FIREBASE_DEFAULT_IMAGE_URL=""
LOG_LEVEL="info"